.features{
    padding: 30px 12px;
    font-size: 22px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .text-col{
    flex-basis:50%;
    margin-bottom:20px;
  }
  .img-cal{
    flex-basis:50%;
    margin-bottom:10px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}
 .img-cal img{
    display: block;
    width: 100%;
    margin: auto;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}

 
 
 