#selectionbrances{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background: white;
  animation: slide-up 2s;
}
h1{
  animation: slide-up 2s;
}
@keyframes slide-up{
  from{
      opacity: 0.2;
      line-height: 500px;
  }
  to{
      opacity: 1;
      line-height: 25px;
  }
}

.course img{
  width:100%;
  border-top-left-radius:  20px;
  border-top-right-radius:20px ;
}
.course h2{
  text-align: center;
  font-family: Verdana;
}
.course p{
  text-align: center;
}
h1{
  text-align: center;

}
.course{
  border-radius: 20px;
  border: 1px solid gray;
  margin-bottom: 40px;
  box-shadow: 2px 2px 25px gray;

}
.fig{
  padding:20px;
}

@media only screen and (max-width: 600px) {
   .course{
      width: 80%;
   }

  }


@media only screen and (min-width: 600px) {
  .course{
      width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .course{
      width: 50%;
  }
}


@media only screen and (min-width: 992px) {
  .course{
      width: 20%;
  }
}


@media only screen and (min-width: 1200px) {
  .course{
      width:20%;
  }
}
 
 
 