
.navbar-section {
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color:black;
}
.navbar-title a {
    color: #1A8EFD;
    letter-spacing: .6px;
    text-decoration: none;
}
.navbar-title {
    font-family: 'Poppins', sans-serif;
}
.navbar-sign {
    color: #54de54;
    font-family: Cambria, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.navbar-items {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 22px;
    font-family: 'Rubik', sans-serif;
}
.navbar-items > li {
    list-style-type: none;
}
.navbar-links {
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: .8px;
}
.navbar-links:hover {
    color: #0cc2ea;
}

.s:hover {
    color: #1A8EFD;
    background-color: white;
    border: 1px solid #1A8EFD;
    gap: 5px;
}
/* Hamburger Icon */
.mobile-nav {
    display: none;
}
.hamb-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.hamb-icon:hover {
    color: #0cc2ea;
}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropbtn {
    background-color:black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links in the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown content when hovering over the dropdown container */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Up and down arrow icons */
  .scroll-up,
  .scroll-down {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  
  .scroll-up::before,
  .scroll-down::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #666 transparent transparent transparent;
  }
  
  .scroll-up::before {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #666 transparent;
  }
  
  .scroll-down::before {
    border-width: 5px 4px 0 4px;
    border-color: #666 transparent transparent transparent;
  }
  
 
/* Mobile Navbar */
.mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    z-index: 20;
    justify-content: center;
    align-items: center;
    transition: left .5s ease-in-out;
}
.mobile-navbar-close {
    position: absolute;
    top: 28px;
    right: 28px;
}
.mobile-navbar-close .hamb-icon:hover {
    color: rgb(255, 22, 22);
}
.open-nav {
    left: 0;
}
.mobile-navbar-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 24px;
    text-align: center;
}
.mobile-navbar-links li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: .8px;
    transition: color .3s ease-in-out;
}
.mobile-navbar-links li a:hover {
    color: #0cc2ea;
}
/* Responsive */
@media screen and (max-width: 900px) {
    .navbar-btn, .navbar-items {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}